@model ArtGallery.Models.Product.ProductIndexVM

@{
    ViewData["Title"] = "Details";
}

<a asp-action="Index">
    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-90deg-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M1.146 4.854a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H12.5A2.5 2.5 0 0 1 15 6.5v8a.5.5 0 0 1-1 0v-8A1.5 1.5 0 0 0 12.5 5H2.707l3.147 3.146a.5.5 0 1 1-.708.708z" />
    </svg>
</a>
<br />
<br />
<h1>@Html.DisplayFor(model => model.Name)</h1>


<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card-img left-side-product-box">
                <img class="card-img left-side-product-box" src="@Html.DisplayFor(model=>model.Picture)" alt="Image" width="300" />
            </div>
        </div>


        <div class="col-lg-6 right-side-pro-detail">
            <p class="m-0 p-0 price-pro" style="">Artist: @Html.DisplayFor(model => model.ArtistName)</p>
            <p class="pt-2" style="font-size:20px">BGN @Html.DisplayFor(model => model.Price)</p>




            <div class="container mt-5">
                <main role="main" class="pb-3">

                    <div class="container-fluid">
                        <ul class="nav nav-tabs">

                            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#details">Product Details</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#stock">In Stock</a></li>
                            <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#artist">Artist</a></li>
                        </ul>
                        <div>
                            <div class="tab-content">

                                <div role="tabpanel" class="tab-pane active" id="details">
                                    <br />
                                    <div class="card" style="width: 100%;">

                                        <div class="card-body">
                                            <p>
                                                <span>
                                                    @Html.DisplayFor(model => model.Description)
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="stock">
                                    <br />
                                    <div class="card" style="width: 100%;">

                                        <div class="card-body">
                                            <p>
                                                In stock: @Html.DisplayFor(model => model.Quantity)
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="artist">
                                    <br />
                                    <div class="card" style="width: 100%;">

                                        <div class="card-body">
                                            <p>
                                                Artist: @Html.DisplayFor(model => model.ArtistName)                                              
                                            </p>
                                            <a class="btn btn-dark" asp-controller="Artist" asp-action="Details" asp-route-id="@Model.ArtistId">More For the Artist</a>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div>
                                    @if ((this.User.Identity.IsAuthenticated) && (this.User.IsInRole("Admin")))
                                    {
                                        <a asp-action="Edit" asp-route-id="@Model.Id"><i class="bi bi-pencil-square"></i></a>
                                    }
                                </div>

                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}